<!DOCTYPE html>
<html>
<head>
    <title>Canavar Avı</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">SEN</h1>
            <div class="healthbar">
                <div class="healthbar text-center" 
				style="background-color: green; margin: 0; color: white;"
				:style="pHealthStyle">
					%{{pHealth}}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">CANAVAR</h1>
            <div class="healthbar">
                <div class="healthbar text-center" 
				style="background-color: green; margin: 0; color: white;"
				:style="mHealthStyle">
					%{{mHealth}}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!gameStart">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame">YENİ OYUN</button>
        </div>
    </section>
    <section class="row controls" v-if="gameStart">
        <div class="small-12 columns">
            <button id="attack" @click="attack">SALDIRI</button>
            <button id="special-attack" @click="specialAttack">ÖZEL SALDIRI</button>
            <button id="heal" @click="heal">İLK YARDIM</button>
            <button id="give-up" @click="endGame">PES ET!</button>
        </div>
    </section>
    <section class="row log">
        <div class="small-12 columns">
            <ul v-for="l in log">
                <li :class="l.player?'player-turn':'monster-turn'">
					{{l.text}}
                </li>
            </ul>
        </div>
    </section>
</div>
<script src="app.js"></script>
</body>
</html>